@{
    ViewBag.Title = "Home Page";
}

<div class = "jumbotron">
  <h1 class = "display-3"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Consultoria Cardenuto </font> </font> </ h1 >
  <p class = "lead"> <font style = "vertical-align: inherit;"> <font style="vertical-align: inherit;"> Nossa consultoria empresarial vai organizar seu negócio e aumentar seu lucro. </font> </font> </p>
  <hr class = "my-4">
  <p> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"></font> </font> </p>
  <p class = "lead">
    <a class="btn btn-outline-light btn-lg" href="Sobre" role="button"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Saber mais </font> </font> </a>
  </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestão de Pessoas</h2>
        <hr />
        <p>
            Ter colaboradores eficientes é o maior trunfo das empresas, este fator coopera diretamente com os resultados da organização. Considere terceirizar o processo de contratação visando: alcançar um maior número de candidatos potenciais, aprofundar a análise individual através de avaliações específicas, tornar as decisões assertivas, reduzir significativamente prazos e custos nas contratações
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Treinamento </h2>
        <hr />
        <p>A retenção de talentos, além de ser um grande desafio para as organizações, é uma das principais preocupações dos gestores. A disputa por profissionais de alta performance é constante, e os programas de avaliação e desenvolvimento são um investimento que tornam a empresa atrativa, aumentam a motivação, promovem fidelização e proporcionam melhores resultados.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Consultoria</h2>
        <hr />
        <p>Em corporações mais rentáveis, é comum a prática de ações que estimulam a integração e o engajamento, assim como o reconhecimento dos colaboradores no suporte a transição de carreira. Mantenha o ambiente de trabalho saudável e produtivo mensurando indicadores de satisfação periodicamente; humanizar as relações de trabalho favorece o clima organizacional e contribui para a imagem da empresa.</p>
        
    </div>
</div>