
@{
    ViewBag.Title = "Sobre";
}

<h1>Consultoria Cardenuto</h1>
<hr />

<p>
    Somos uma empresa de auditoria e de consultoria financeira, com foco em transações societárias e em negócios estratégicos. Estimulamos a integração como motor da prosperidade nos negócios de clientes e parceiros.

    Nossa estrutura é enxuta e altamente dinâmica. Entregamos qualidade com pontualidade, sempre atentos às particularidades, empregando competências de execução, gerenciamento e apresentação de projetos.

    Acreditamos no respeito às pessoas e aos contratos, com integridade, transparência, honestidade e clareza. Acreditamos, ainda, na praticidade e na simplicidade. Trabalhamos com independência e imparcialidade.
</p>

<h4>Missão</h4>
<p>
    Oferecer serviços contábeis com dedicação, garantindo qualidade, buscar continuamente o aprimoramento profissional e contribuir com a evolução de nossos clientes.

</p>

<h4>Visão</h4>
<p>
    Ser reconhecida como referência em excelência na execução de Serviços Contábeis. Uma empresa com dinamismo e eficiência, contribuindo para a satisfação e o sucesso dos seus clientes e colaboradores.
</p>

<h4>Alguns de nossos clientes</h4>
<ul>
    <li>Americanas</li>
    <li>Ri Happy</li>
    <li>Caloi</li>
    <li>TIM</li>
</ul>

